<section class='user_index'> 
    <% @posts.each do |post| %>
             <div class="card d-flex">
                <div class="card-image">
                    <%= image_tag('posts/ball.jpg', width:'100%', height:'100%') %>
                </div>
                <div class="card-body">
                    <h1 class="card-title"> <%= post['username'] %> </h1>
                    
                    <p class="card-text">Number of posts: <%= post['number_of_posts'] %> </p>
                </div>
            </div>
        
    <% end %>
    
</section>