<section class='container'> 
    <% @users.each do |user| %>
        <%= link_to user_path(user['id']) do %>
            <div class="card d-flex">
                <div class="card-image">
                    <%= image_tag('posts/ball.jpg', width:'100%', height:'100%') %>
                </div>
                <div class="card-body">
                    <h1 class="card-title"> <%= user['username'] %> </h1>

                    <p class="card-text">Number of posts: <%= user['number_of_posts'] %> </p>
                </div>
            </div>
        <% end %>
    <% end %>
</section>