<div class='post-comment-wrapper container'>
    <div class='post-wrapper'>
        <div class='post-div'>
            <h4>Post #1 </h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid iure possimus aut, soluta tenetur reiciendis placeat eos sunt totam consequuntur labore quas atque ipsa rem repellendus...
            </p>
            <p class='comments-likes'>
                <small>Comments:x, Likes:y </small>
            </p>
        </div>
    </div>
    <div class='comment-wrapper'>
        <p> Username: Comment 1 </p>
        <p> Username: Comment 2 </p>
        <p> Username: Comment 3 </p>
        <p> Username: Comment 4 </p>
    </div>

    <div class='post-wrapper'>
        <div class='post-div'>
            <h4>Post #1 </h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid iure possimus aut, soluta tenetur reiciendis placeat eos sunt totam consequuntur labore quas atque ipsa rem repellendus...
            </p>
            <p class='comments-likes'>
                <small>Comments:x, Likes:y </small>
            </p>
        </div>
    </div>
    <div class='comment-wrapper'>
        <p> Username: Comment 1 </p>
        <p> Username: Comment 2 </p>
        <p> Username: Comment 3 </p>
        <p> Username: Comment 4 </p>
    </div>
</div>