body {
    background-color: beige;
}

.d-flex {
  display: flex;
}

.user_index .card {
    max-width: 80%;
    margin: 20px auto;
}

.user_index .card-image {
  width: 300px;
}

.user_index .card-text {
    text-align: right;
}

.user_index .card-footer {
  background-color: inherit;
}

.user_index .card-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
  border: 1px solid rgb(128, 127, 127);
  margin: 8px 0 8px 25px;
}

.user_index .card-title {
  font-size: 40px;
}
