body {
    background-color: beige;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex {
  display: flex;
}

.container {
    width: 80%;
    margin: 30px auto;
}

.card {
    margin: 20px auto;
}

.card-image {
  width: 300px;
}

.card-text {
    text-align: right;
}

.card-footer {
  background-color: inherit;
}

.card-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
  border: 1px solid rgb(128, 127, 127);
  margin: 8px 0 8px 25px;
}

.card-title {
  font-size: 40px;
}

.bio-wrapper {
    margin: 0px auto;
    border: 1px solid rgb(128, 127, 127);
   
}

.bio-div {
    width: 100%;
    padding: 10px 10px;
}

.post-wrapper {
    margin: 20px auto;
    border: 1px solid rgb(128, 127, 127);
}

.post-div {
    width: 100%;
    padding: 10px 10px;
}

.post-wrapper .comments-likes {
    text-align: right;
}

.see-all-posts, .pagination {
    display: block;
    padding: 10px 20px;
    width: 200px;
    margin: 0 auto;
}