body {
    background-color: beige;
}

.d-flex {
  display: flex;
}

.card {
    max-width: 80%;
    margin: 20px auto;
}

.card-image {
  width: 300px;
}

.card-text {
    text-align: right;
}

.card-footer {
  background-color: inherit;
}

.card-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
  border: 1px solid rgb(128, 127, 127);
  margin: 8px 0 8px 25px;
}

.card-title {
  font-size: 40px;
}

.bio-wrapper {
    max-width: 80%;
    margin: 0 auto;
    border: 1px solid rgb(128, 127, 127);
   
}
.bio-div {
    width: 100%;
    padding: 0 10px;
}